.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  width: 385px;
  padding: 0;
  margin: 0;
  border: none;
}

.form__fieldset:last-of-type {
  align-items: center;
}

.form__label {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:first-of-type {
  padding-top: 0;
}

.form__input {
/*--- NEEDS CORRECTING. 1) Please change the default color of the border to the value from the brief (#838383).
You can use 1px as a border-width and solid as a border-style.
Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/border#syntax

2) Use `box-sizing: border-box` property here.
`border-box` tells the browser to account for any border and padding in the values you specify 
for an element's width and height. */
  display: flex;
  max-width: 385px;
  height: 60px;
  border-color: #838383;
  border-radius: 4px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 32px;
}

.form__button {
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 32px;
  color: white;
  background-color: #2f80ed;
  transition: opacity 0.3s linear;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.form__checkbox {
  margin-right: 12px;
}

.form__checkbox:checked {
  margin-right: 12px;
}
